﻿<template>
  <div id="app">
      <nav id="headerz" class="navbar navbar-expand navbar-light bg-light header fixed-top">
              <router-link class="navbar-brand" to="/"><img id="logo-img" class="logo-img" src="/images/sonic2.png"/></router-link>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse content" id="navbarColor03">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <router-link class="nav-link" to="/">Add link</router-link>
                      </li>
                      <li class="nav-item" v-show="this.user != null">
                          <router-link class="nav-link" to="/Links">Links</router-link>
                      </li>
                      <li class="nav-item" v-show="this.user != null">
                          <router-link class="nav-link" to="/Groups">Groups</router-link>
                      </li>
                  </ul>

                  <ul v-if="this.user != null" class="navbar-nav ml-auto">
                      <li class=""><router-link to="/User" class="nav-link UserNameText">{{this.user.name}}</router-link></li>
                      <li><button class="btn btn-outline-info btn-sm UserNameBtn" v-on:click="LogOut()">Log out</button></li>
                  </ul>
                  <ul v-else class="navbar-nav ml-auto">
                      <li><router-link class="nav-link" to="/Login">Sign in</router-link></li>
                      <li><router-link class="nav-link" to="/Register">Register</router-link></li>
                  </ul>
              </div>
      </nav>
    <!-- здесь будут отображаться наши компоненты -->
      <div class="content">
            <router-view></router-view>
      </div>
      <div id="footerz" class="modal-footer fixed-bottom footer">
          <p class="text-center z-text-center">© Link reduction service "FastLink"</p>
      </div>
  </div>
</template>

<script>
    

    export default {
        name: 'app',
        data: () => ({
            answer: 'false'
        }),
        created() {
            this.$store.dispatch('loadUser', null);
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        },
        watch: {
            answer: function () {
                if (this.answer == 'LogOut') {
                    this.$router.push('/')
                    this.$store.dispatch('loadUser', null);
                    this.answer = 'false';
                }
            }
        },
        methods: {
            LogOut() {
                axios.post('api/Account/LogOff')
                    .then(response => { this.answer = response.data; })
            }
        }
    }


   

</script>
<!-- стили компонента -->
<style>
    
</style>

