﻿<template>
    <div>
        {{userLog.error}}

        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" v-model="userLog.email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" v-model="userLog.password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Remember me</label>
            <input type="checkbox" v-model="userLog.rememberMe" />
        </div>
        <div class="form-group">
            <button v-on:click="LogIn()" class="btn btn-outline-info">Sign in</button>
            <a href="https://oauth.vk.com/authorize?client_id=6604445&display=page&redirect_uri=http://localhost:62283/api/Account/VKLoginCallback&scope=friends&response_type=code&v=5.78" class="btn btn-outline-info float-right">Sign in from VK</a>
            <!--<button v-on:click="VKLogIn()" class="btn btn-outline-info">VK</button>-->

        </div>
    </div>


</template>

<script>
  /*  import { bus } from 'bus.js' */
    export default {
        data: () => ({
            userLog: {
                email: '',
                error: ' ',
                password: '',
                rememberme: true,
                returnUrl: ''
            }
        }),
        watch: {
            userLog: function () {
                if (this.userLog.error == '') {
                    this.$router.push('/')
                this.$store.dispatch('loadUser', null);
                }     
            }
        },
        methods: {
            LogIn() {
                axios.post('api/Account/Login', this.userLog)
                    .then(response => { this.userLog = response.data })
                    .catch(e => { console.log(e) });
            },
            VKLogIn() {
                axios.post('api/Account/VKLogin')
                    .then(re => { this.userLog = re.data })
                  /*  .catch(e => { console.log(e) });  */
            }
        }
        
    } 
</script>

<style>

</style>