﻿<template>
    <div>
        {{userLog.error}}

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" v-model="userLog.name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" v-model="userLog.email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" v-model="userLog.password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Confirm password:</label>
            <input type="password" class="form-control" v-model="userLog.passwordConfirm" placeholder="Confirm password" />
        </div>

        <div class="input-group">
            <button v-on:click="Register()" class="btn btn-outline-info">Register</button>
        </div>

    </div>

</template>

<script>
    export default {
        data: () => ({
            userLog: {
                name: '',
                email: '',
                error: ' ',
                password: '',
                passwordConfirm: '',
                returnUrl: ''
            }
        }),
        methods: {
            Register() {
                this.userLog.error = ' ';
                axios.post('api/Account/Register', this.userLog)
                    .then(response => { this.userLog = response.data })
                    .catch(e => { console.log(e) });
            }
        },
        watch: {
            userLog: function () {
                if (this.userLog.error == '') {
                    this.$router.push('/')
                    this.$store.dispatch('loadUser', null);
                }
            }
        },
    }
</script>

<style>
</style>