﻿<template>
    <div v-if="user != null">
        <p class="z-main-text">{{user.name}}</p>
        <p class="">{{user.email}}</p>
        <p class="">{{user.role}}</p>
        <button class="btn btn-outline-danger" v-on:click="showChanging = !showChanging">Change password</button>
        <div v-show="showChanging">
            <p class="text-danger">{{answer}}</p>
            <div class="form-group">
                <label class="control-label">Old password</label>
                <input type="text" v-model="password.oldPassword" class="form-control" placeholder="Enter old password" />
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input type="text" class="form-control" v-model="password.newPassword" placeholder="Enter new password" />
            </div>
            <div class="form-group">
                <button v-on:click="Change()" class="btn btn-outline-info">Change</button>
            </div>
        </div>
    </div>
    <div v-else>Please log in</div>

</template>

<script>
    export default {
        data: () => ({
            showChanging: false,
            password: {
                oldPassword: '',
                newPassword: ''
            },
            answer: ''
        }),
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        },
        methods: {
            Change() {
                axios.post('api/Account/ChangePassword', this.password)
                    .then(response => { this.answer = response.data })
                    .catch(e => { console.log(e)});
            }
        }
    }
</script>

<style>
</style>