﻿@model IEnumerable<Service.Models.User>
@{
    ViewData["Title"] = "UserList";
}
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Права доступа</a>
            </td>
        </tr>

    }
</table>

