﻿body {
    padding-top: 100px;
    padding-bottom: 62.48px; 

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.UserNameText {
 /*   padding-top: 15px; */
    padding-right: 15px;
}

.UserNameBtn {
    margin-top: 3px;
}

.content {
    margin: 10px 100px;
}

.table tr:hover {
    background: #f7f7f7;
}

.initialLink {
    color: #000 !important;
    /*padding: 10px; */
}

    .initialLink:hover {
        text-decoration: none !important;
       /* color: #fff !important; */
        background-color: #c0e3f2;
        cursor: pointer;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

.cur-btn{
    width: 230px;
}

.td-original-link{
    max-width: 30%;
}

.img-delete{
    width: 25px;
}

    .img-delete:hover {
        cursor: pointer;
        background: #f4cfce;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

.header {
    padding: 20px 100px;
}

.scroll {
    padding: 0px 100px !important;
}

.footer {
    border-top: 2px solid rgba(4, 0, 255, 0.33);
    background-color: #ebf6ffe6 !important;
    height: 62.48px;
}

.z-text-center, .z-div-center {
    margin: 0 auto;
}

.z-label-text{
    font-size: 1.2em;
}

.z-main-text {
    font-size: 2em;
    color: rgb(0, 18, 144);
    margin: 50px 0;
}

.logo-img{
    height: 50px;
}

.small-logo{
    height: 40px !important;
}

input[type="checkbox"] {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 1px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
}

input:checked[type="checkbox"] {
    background: #1f9bcf;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #e7f4fe;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.5s;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}


.strel-img {
    width: 15px;
}

.input-sm {
    width: 300px;
    display: inline-block;
}