﻿<template>
    <div v-if="user != null">
        {{answer}}
        <div class="form-group">
            <input type="url" placeholder="Name group" class="form-control input-sm" v-model="newGroup.nameGroup" />
            <button v-on:click="AddGroup()" class="btn btn-outline-info">Add</button>
        </div>
        <table class="table">
            <thead>
                <tr v-on:click="reverseSort = !reverseSort" class="table-info">
                    <td></td>
                    <td v-on:click="sortParam='name'"><span v-show="reverseSort && sortParam=='name'"><img class="strel-img" src="/images/strel-vniz.png"/></span><span v-show="!reverseSort && sortParam=='name'"><img class="strel-img" src="/images/strel-verh.png" /></span>Name</td>
                    <td v-on:click="sortParam='countLinks'"><span v-show="reverseSort && sortParam=='countLinks'"><img class="strel-img" src="/images/strel-vniz.png"/></span><span v-show="!reverseSort && sortParam=='countLinks'"><img class="strel-img" src="/images/strel-verh.png" /></span>Links</td>
                    <td v-on:click="sortParam='countConvers'"><span v-show="reverseSort && sortParam=='countConvers'"><img class="strel-img" src="/images/strel-vniz.png"/></span><span v-show="!reverseSort && sortParam=='countConvers'"><img class="strel-img" src="/images/strel-verh.png" /></span>Conversions</td>
                    <td v-show="user.role == 'admin'" v-on:click="sortParam='userName'"><span v-show="reverseSort && sortParam=='userName'"><img class="strel-img" src="/images/strel-vniz.png"/></span><span v-show="!reverseSort && sortParam=='userName'"><img class="strel-img" src="/images/strel-verh.png" /></span>Creater</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in group">
                    <td class="img-delete" v-on:click="DeleteGroup(item)"><img class="img-delete" src="/images/Ico_delete.png" /></td>
                    <td v-on:click="ShowGroup(item)" class="initialLink">{{item.name}}</td>
                    <td v-on:click="ShowGroup(item)" class="initialLink">{{item.countLinks}}</td>
                    <td>{{item.countConvers}}</td>
                    <td v-show="user.role == 'admin'">{{item.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>Please log in</div>

</template>

    <script>
        export default {
            data: () => ({
                groups: {},
                reverseSort: true,
                sortParam: '',
                newGroup: {
                    nameGroup: ''
                },
                newGroupAnsw: {},
                answer: ''
            }),
            created() {
                axios.get('api/Links/GetGroups')
                    .then(response => { this.groups = response.data })
                    .catch(e => { console.log(e) }) 
            },
            computed: {
                user() {
                    return this.$store.getters.getUser;
                },

                group() {
                    if (this.reverseSort)
                        return _.sortBy(this.groups, this.sortParam)
                    else {
                        return _.sortBy(this.groups, this.sortParam).reverse()
                    }
                }
            },
            watch: {
                newGroupAnsw: function () {
                    if (this.newGroupAnsw == null) {
                        answer = 'Invalid data';
                    }
                    else {
                        this.groups.push(this.newGroupAnsw);
                    }
                }
            },
            methods: {
                AddGroup() {
                    axios.post('api/Links/AddGroup', this.newGroup)
                        .then(response => { this.newGroupAnsw = response.data })
                        .catch(e => { console.log(e) });
                },
                DeleteGroup(item) {
                    if (confirm("Are you sure? Removal is irreversible!")) {
                        axios.delete('api/Links/DeleteGroup/' + item.id)
                            .then(response => { this.answer = response.data })
                            .catch(e => { console.log(e) })

                        this.groups.splice(this.groups.indexOf(item),1);
                        
                    }
                },
                ShowGroup(item) {
                    this.$router.push('/Group/' + item.name);
                }
            }
        }
    </script>

    <style>
    </style>
