﻿<template>
    <div v-if="user != null">
        <table-links :linkes="linkes"></table-links>
    </div>
    <div v-else>Please log in</div>
</template>

<script>
    import TableLinks from './TableLinks.vue'
    export default {
        data() {
            return {
                linkes: {},
            }
        },
        components: {
            TableLinks
        },
        created() {
            axios.get('api/Links/GetAllLinks')
                .then(response => { this.linkes = response.data })
                .catch(e => {console.log(e)})
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        }
    }
</script>

<style>

</style>