﻿<template>
    <div>
        <div class="form-group">
            <button v-on:click="ShowActive()" class="btn cur-btn btn-outline-info">{{this.btnShowActiveTxt}}</button>
        </div>
        <table class="table">
            <thead>
                <tr v-on:click="reverseSort = !reverseSort" class="table-info">
                    <td></td>
                    <td v-on:click="sortParam='isActive'"><span v-show="reverseSort && sortParam=='isActive'"><img class="strel-img" src="/images/strel-vniz.png"/></span><span v-show="!reverseSort && sortParam=='isActive'"><img class="strel-img" src="/images/strel-verh.png" /></span>Active</td>
                    <td v-on:click="sortParam='urlInitial'"><span v-show="reverseSort && sortParam=='urlInitial'"><img class="strel-img" src="/images/strel-vniz.png" /></span><span v-show="!reverseSort && sortParam=='urlInitial'"><img class="strel-img" src="/images/strel-verh.png" /></span>Original</td>
                    <td v-on:click="sortParam='urlFinite'"><span v-show="reverseSort && sortParam=='urlFinite'"><img class="strel-img" src="/images/strel-vniz.png" /></span><span v-show="!reverseSort && sortParam=='urlFinite'"><img class="strel-img" src="/images/strel-verh.png" /></span>Short</td>
                    <td v-on:click="sortParam='countConversions'"><span v-show="reverseSort && sortParam=='countConversions'"><img class="strel-img" src="/images/strel-vniz.png" /></span><span v-show="!reverseSort && sortParam=='countConversions'"><img class="strel-img" src="/images/strel-verh.png" /></span>Conversions</td>
                    <td v-on:click="sortParam='groupName'"><span v-show="reverseSort && sortParam=='groupName'"><img class="strel-img" src="/images/strel-vniz.png" /></span><span v-show="!reverseSort && sortParam=='groupName'"><img class="strel-img" src="/images/strel-verh.png" /></span>Group</td>
                    <td v-on:click="sortParam='userName'" v-show="user.role == 'admin'"><span v-show="reverseSort && sortParam=='userName'"><img class="strel-img" src="/images/strel-vniz.png" /></span><span v-show="!reverseSort && sortParam=='userName'"><img class="strel-img" src="/images/strel-verh.png" /></span>Creater</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="link in links" v-show="((link.isActive == showActive) || !showActive)">
                    <td class="img-delete" v-on:click="DeleteLink(link)"><img class="img-delete" src="/images/Ico_delete.png" /></td>
                    <td v-on:click="ChangeLink(link)"><input type="checkbox"  v-model="link.isActive" /></td>
                    <td class="td-original-link initialLink"><a v-bind:href="link.urlInitial" target="_blank">{{link.urlInitial.substr(0, 30)}}...</a></td>
                    <td>{{link.urlFinite}}</td>
                    <td>{{link.countConversions}}</td>
                    <td class="initialLink" v-on:click="ShowGroup(link.groupName)">{{link.groupName}}</td>
                    <td v-show="user.role == 'admin'">{{link.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        props: {
            linkes: {}
        },
        data() {
            return {
                reverseSort: true,
                sortParam: '',
                servAnswer: '',
                btnShowActiveTxt: 'Show active',
                showActive: false
            }
        },
        created() {
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            },

            links() {
                if (this.reverseSort)
                    return _.sortBy(this.linkes, this.sortParam)
                else {
                    return _.sortBy(this.linkes, this.sortParam).reverse()
                }
            }
        },
        methods: {
            ChangeLink(link) {
                link.isActive = !link.isActive;
                axios.post('api/Links/UpdateLink', link)
                    .then(re => { this.servAnswer = re.data })
            },
            ShowActive() {
                if (this.btnShowActiveTxt == 'Show all')
                    this.btnShowActiveTxt = 'Show active';
                else
                    this.btnShowActiveTxt = 'Show all';
                this.showActive = !this.showActive;
            },
            ShowGroup(name) {
                this.$router.push('/Group/' + name);
            },
            DeleteLink(item) {
                if (confirm("Are you sure? Removal is irreversible!")) {
                    axios.delete('api/Links/DeleteLink/' + item.id)
                        .then(response => { this.answer = response.data })
                        .catch(e => { console.log(e) })

                    this.linkes.splice(this.linkes.indexOf(item), 1);

                }
            }
        }
    }
</script>

<style>
</style>