﻿<template>
    <div v-if="user != null">
        <div>
            <p class="text-center z-main-text">Group: {{group.name}}</p>
            <p v-if="group.name != 'Undefined' && user.Role == 'admin'">Count links: {{group.countLinks}}</p>
            <p v-if="group.name != 'Undefined' && user.Role == 'admin'">Count conversions: {{group.countConvers}}</p>
        </div>
        <table-links :linkes="linkes"></table-links>
    </div>
    <div v-else>Please log in</div>
</template>

<script>
    import TableLinks from './TableLinks.vue'
    export default {
        data() {
            return {
                group: {},
                linkes: []
            }
        },
        components: {
            TableLinks
        },
        created() {
            axios.get('api/Links/GetGroup/' + this.$route.params.name)
                .then(re => { this.group = re.data })
                .catch(e => { console.log(e) })
            axios.get('api/Links/GetGroupLinks/' + this.$route.params.name)
                .then(response => { this.linkes = response.data })
                .catch(e => {console.log(e)})
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        }
    }
</script>

<style>
</style>