﻿<!-- model string
@{
    ViewData["Title"] = "Home Page";
}
    -->


<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
}

<div id='app'>Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}

<script>
    window.onscroll = function () {
        var a = document.getElementById('headerz');
        var b = document.getElementById('logo-img');
        if (window.pageYOffset > 20) {
            a.classList.add('scroll');
            b.classList.add('small-logo');
        }
        else {
            a.classList.remove('scroll');
            b.classList.remove('small-logo');
        }
    }
   /* else
        header.classList.remove('scroll'); */
</script>

<!--
<form asp-action="Index" asp-controller="Home">
    <div class="form-group">
        <input name="url"  class="form-control" />
    </div>
    <div class="form-group">
       <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>

</form>

@if (ViewBag.UrlFinite != null)
{
    <input value="@ViewBag.UrlFinite"/>
}
    -->
