﻿<template>
    <div>

        <p class="text-center z-main-text">Generete your link here</p>

        <p class="text-danger" v-show="!(answer.indexOf('http') + 1) ">{{answer}}</p>
        <p class="text-center z-label-text">Link:</p>
        <div class="form-group">

            <input type="url" class="form-control" v-model="links.url" placeholder="https://YourSite.com" />
        </div>
        <p v-show="this.user != null" class="text-center z-label-text">Group:</p>
        <div class="form-group" v-show="this.user != null">
            <select class="form-control" v-model="links.groupId">
                <option v-for="option in groups" v-bind:value="option.id">
                    {{option.name}}
                </option>
            </select>
        </div>

        <div class="input-group ">
            <button v-on:click="addLink()" class="btn btn-outline-info z-div-center">Generate</button>
        </div>
        <div v-show="(answer.indexOf('http') + 1) ">
            <p>Your link:</p>
            <input class="form-control" v-model="answer">
        </div>

    </div>


</template>

<script>
    export default {
        data: () => ({
            answer: '', 
            groups: {},
            links: {
                url: '',
                groupId: 1
            }
        }),
        methods: {
            addLink() {
                axios.post('api/Links/AddLink', this.links)
                    .then(response => { this.answer = response.data })
                    .catch(error => { console.log(error) })
                
            }
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        },
        created() {
            axios.get('api/Links/GetGroups')
                .then(response => { this.groups = response.data })
                .catch(e => { console.log(e) })
        }

    }
</script>

<!-- инкапсулированные стили компонента -->
<style>
</style>
